main {
  background-color: aliceblue;
  display: flex;
  border:  blue solid 1px;
  max-width: 1200px;
  min-height: 35rem;
  margin: 0 auto;
  flex-direction: row;
  margin-top: 20px;
}

main img, main form{
  width: 50%;
}


@media screen and (max-width:768px) {
  main img, main form{
    width: 100%;
  }

  main {
    flex-direction: column;
  }
}